*{
    margin: 0px;
    padding: 0px;
}

#corpo{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

#principal{
    border: 2px solid orange;
    margin: 15px;
    padding: 15px;
    position: relative;
}

#logo{
    float: left;
}

#logar, #cadastrar{
    float: right;
    top: 10px;
    padding: 8px 0px;
    margin: 0px 15px;
    border: 2px solid rgb(8, 231, 8);
    border-radius: 40px;
}

#logar:hover, #cadastrar:hover{
    background-color: rgb(8, 231, 8);
    color: black;
}

#area-texto{
    clear: both;
    border: 2px solid rgb(8, 231, 8);
    margin-top: 90px;
    width: 700px;
    height: 500px;
}

/* Temporário */
#area-texto h1, #area-texto p{
    border: 2px solid rgb(8, 231, 8);
}

#area-texto h1{
    text-align: center;
    padding: 10px;
    margin:20px;
}

#area-texto p{
    margin: 0px 30px;
}

/* -------- Início formatação de links --------- */
a{
    text-decoration: none;
    width: 10px;
    padding: 8px 25px;
}

a:link, a:visited{
    color: white;
}

a:hover{
    color:black;
}
/* -------- Fim formatação de links --------- */